/* font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif; */

.mr-0 {
    margin-right: 0px !important;
}
.mr-1 {
 margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.pl-0 {
    padding-left: 0px !important;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}

.bg-danger {
    color: white !important;
}

.text-detail {
    color: #9f9f9f;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}




.btn-block {
    width: 100%;
}

.btn-white {
    border: 1px solid #dfdfdf;
    background: white;
}

.header .section {
    border-bottom: 1px solid #f9f9f9;
}

/* .modal.show {
    display: none;
} */
.modal.show {
    background: rgba(0,0,0,0.6);
    display: block;
    z-index: 111111;
}




/* html.swal2-shown,body.swal2-shown { overflow-y: hidden !important; height: auto!important;} */

.vue-star-rating-rating-text {
    display: none;
}

.rating-avg {
    text-align: center;
}
.rating-avg .fa-star {
    font-size: 50px;
    position: relative;
    top: -12px;
    margin-right: 10px;
}

.rating-avg b {
    font-size: 5rem;
    font-size: 5rem;
    line-height: 6rem;
}

.swal2-wrap-rating {
    justify-content: center; 
    display: flex;
    overflow: hidden;
    height: 62px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 111111;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    animation: fadeInDown .3s ease-in-out;
}
.header-bottom {
    min-height: 70px !important;
    position: relative;
    top: -15px;
}

.header-bottom .header-sticky {
    height: 70px !important;
}

.swal2-styled.swal2-cancel {
    background: white !important;
    color: black !important;
    border: 1px solid #d5d5d5 !important;
    padding: 7px 15px;
}

.swal2-styled.swal2-confirm {
    background: #ff4545 !important;
    padding: 7px 15px !important;
}

.section-margin.row-2{
    background: linear-gradient(-135deg,#e0e6ed,#e0e6ed,#fff7fa);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-menu {
    justify-content: left;
}

.carousel__item {
    min-height: 200px;
    width: 100%;
    background-color: grey;
    color: var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel__slide {
    padding: 10px;
  }
  

  .carousel__pagination {
    justify-content: left;
  }

  .carousel__pagination-button::after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  
    .bg-success {
        background-color: #17b93e !important;
    }

    .product-summery .price-box .regular-price {
        font-size: 30px;
    }

    .product-summery .price-box .old-price {
        font-size: 20px;
    }

    .single-product-tab .nav-tabs {
        border-bottom: 1px solid #f2f4f7;
        border-top: 1px solid #f2f4f7;
        padding-top: 12px;
        padding-bottom: 4px;
        margin-bottom: 0.8rem;
    }

    .single-product-tab .nav-tabs .nav-item {
        padding-left: 10px;
    }

    .single-product-tab .nav-tabs .active {
        border-bottom: 1px solid red;
    }



    .single-product-tab .nav-tabs .nav-item .nav-link {
        font-weight: 600;
        color: #212121;
        font-size: 15px; 
    }


    .breadcrumb-content ul li {
        font-size: 13px;
    }

    .sku table td {
        font-size: 14px;
    }

    .shop_wrapper.grid_4 .product {
        border: unset;
    }

    .product .content {
        padding: 10px 12px 12px;
        text-align: unset;
        margin-bottom: 10px;
    } 

    .product .content .title {
        margin-bottom: 5px;
        text-align: left;
    }

    .content .ratings {
        align-items: normal;
        justify-content: unset;
    }

    .content .price {
        justify-content: left;
    }

    .product .product-inner {
        margin-bottom: 2px;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
    }

    .carousel__slide>.product .product-inner {
        margin-right: 1px;
        margin-left: 1px;
    }

    img.active {
        border: 1px solid red !important;
    }

    .Vue-Toastification__toast--default {
        background-color: #323232 !important;
        top: -50px !important;
    }

    input[type="checkbox"] {
        display: unset;
    }

    .form-floating>.form-control:focus ~ label, .form-floating>.form-control:not(:placeholder-shown) ~ label, .form-floating>.form-select ~ label {
        opacity: unset;
        transform: scale(0.85) translateY(-1.45rem) translateX(0.15rem);
        background: white;
        color: #9f9f9f;
    }

/* timeline */
    .timeline-with-icons {
        border-left: 1px solid hsl(0, 0%, 90%);
        position: relative;
        list-style: none;
    }
    
    .timeline-with-icons .timeline-item {
        position: relative;
    }
    
    .timeline-with-icons .timeline-item:after {
        position: absolute;
        display: block;
        top: 0;
    }
    
    .timeline-with-icons .timeline-icon {
        position: absolute;
        left: -40px;
        background-color: hsl(217, 88.2%, 90%);
        color: hsl(217, 88.8%, 35.1%);
        border-radius: 50%;
        height: 16px;
        width: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list-group-horizontal .list-group-left {
        width: 450px;
    }

    .list-group-horizontal .list-group-right {
        width: -webkit-fill-available;
        text-align: right;
    }

    .list-group-horizontal .list-group-right a {
        color: #ff4545;
        font-weight: bold;
    }
    .detail-pay {
        font-weight: 400;
        /* font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif; */
        font-size: 0.857143rem;
        line-height: 22px;
        letter-spacing: 0px;
        text-decoration: initial;
    }

    .nav.nav-tabs {
        padding-bottom: 0px;
    }

    .nav-item:hover{
        cursor: pointer;
    }

    .nav-link {
        padding-bottom: 10px;
    }

    .nav-link.active {
        border-bottom: 2px solid !important;
    }

    .replay {
        background: #f9f9f9;
        padding: 10px;
        padding-bottom: 1px;
    }

    .whatsapp-color {
        color: #2fcd2d;
    }

    .facebook-color {
        color: #2b5dcf;
    }
    .twitter-color {
        color: #2bc0e2;
    }
    .linkedin-color {
        color: #0077b5;
    }

    .img-user-avatar {
        width: 100%;
        position: relative;
        top: -5px;
    }
    .badge-user-avatar {
        position: relative;
        top: -10px;
        font-size: 11px;
        display: block;
    }

    .v3dp__elements .selected {
        --elem-hover-bg-color: #af260b !important;
        --elem-selected-bg-color: #af1d0b !important;
    }

    @media only screen and (max-width: 575px) {
        .img-user-avatar {
            width: 50%;
        }
        .badge-user-avatar {
            width: 50%;
            margin: auto;
            display: block;
            position: relative;
            top: -10px;
            font-size: 11px;

        }
        /* .shop_wrapper.grid_4 .product {
            padding-left: 5px;
            padding-right: 5px;
        } */
    }