/* font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif; */

.mr-0 {
    margin-right: 0px !important;
}
.mr-1 {
 margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.pl-0 {
    padding-left: 0px !important;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}

.bg-danger {
    color: white !important;
}

.text-detail {
    color: #9f9f9f;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}



.btn-block {
    width: 100%;
}

.btn-white {
    border: 1px solid #dfdfdf;
    background: white;
}

.header .section {
    border-bottom: 1px solid #f9f9f9;
}


li a.router-link-active {
    color: #ff4545 !important;
}

.sidebar-list li a.active {
    color: #ff4545 !important;
}
/* .modal.show {
    display: none;
} */
.modal.show {
    background: rgba(0,0,0,0.6);
    display: block;
    z-index: 111111;
}


p>a:hover {
    color: #ff4545;
}

.single-footer-widget .widget-list li a {
    margin-bottom: 2px;
}
/* html.swal2-shown,body.swal2-shown { overflow-y: hidden !important; height: auto!important;} */

.vue-star-rating-rating-text {
    display: none;
}

.rating-avg {
    text-align: center;
}
.rating-avg .fa-star {
    font-size: 50px;
    position: relative;
    top: -12px;
    margin-right: 10px;
}

.rating-avg b {
    font-size: 5rem;
    font-size: 5rem;
    line-height: 6rem;
}

.swal2-wrap-rating {
    justify-content: center; 
    display: flex;
    overflow: hidden;
    height: 62px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 111111;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    animation: fadeInDown .3s ease-in-out;
}
.header-bottom {
    min-height: 70px !important;
    position: relative;
    top: -15px;
}

.header-bottom .header-sticky {
    height: 70px !important;
}

.swal2-styled.swal2-cancel {
    background: white !important;
    color: black !important;
    border: 1px solid #d5d5d5 !important;
    padding: 7px 15px;
}

.swal2-styled.swal2-confirm {
    background: #ff4545 !important;
    padding: 7px 15px !important;
}

.section-margin.row-2{
    background: linear-gradient(-135deg,#e0e6ed,#e0e6ed,#fff7fa);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.main-menu {
    justify-content: left;
}

.progress {
    background-color: #d7d7d7;
}

.title-mobile-to-header {
    position: fixed !important;
    z-index: 11;
    width: 100%;
    background: white;
    top: 0px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    margin-top: 0px !important;
}
.carousel__item {
    min-height: 185px;
    width: 100%;
    background-color: grey;
    color: var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__item img {
    border-radius: 8px;
}


.carousel__pagination {
    justify-content: left;
}

.carousel__pagination-item button {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    padding: 0px;
    background: #d9d7d7;
}

.carousel__pagination-item .carousel__pagination-button--active {
    background: #565656;
}

.widget-social a {
    font-size: 25px;
}

.footer-bottom {
    padding: 7px 0px;
}


.dropdown-menu.show {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.notification-ui a:after {
    display: none;
}

.notification-ui_icon {
    position: relative;
}

.notification-ui_icon .unread-notification {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background-color: #66BB6A;
    position: absolute;
    top: 7px;
    left: 12px;
}

.myaccount-content fieldset legend {
    font-size: 17px;
}

.desc-content p{
    margin-bottom: 0px;
}

@media (min-width: 900px) {
    .notification-ui_icon .unread-notification {
        left: 20px;
    }
}

.notification-ui_dd {
    padding: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    border: 0;
    max-width: 400px;
}

@media (min-width: 900px) {
    .notification-ui_dd {
        min-width: 400px;
        position: absolute;
        right: 30px;
        left: unset;
        top: 70px;
    }
}

.notification-ui_dd:after {
    display: none !important;
    content: "";
    position: absolute;
    top: -30px;
    /* left: calc(50% - 7px); */
    left: 0px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f5f5f5;
    border-left: 15px solid transparent;
}

.notification-ui_dd .notification-ui_dd-header {
    border-bottom: 1px solid #ddd;
    /* padding: 15px; */
    padding: 7px 15px;
}

.notification-ui_dd .notification-ui_dd-header h3 {
    margin-bottom: 0;
}

.notification-ui_dd .notification-ui_dd-content {
    max-height: 500px;
    overflow: auto;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 6px 0;
    margin: 0 15px;
    border-bottom: 1px solid #ddd;
}

.notification-list--unread {
    position: relative;
}

.notification-list--unread:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    height: calc(100% + 1px);
    /* border-left: 2px solid #29B6F6; */
}

.notification-list .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}
  
.bg-success {
    background-color: #17b93e !important;
}

.product-summery .price-box .regular-price {
    font-size: 30px;
}

.price span.old {
    font-size: 12px;
}

.product-summery .price-box .old-price {
    font-size: 20px;
}

.single-product-tab .nav-tabs {
    border-bottom: 1px solid #f2f4f7;
    border-top: 1px solid #f2f4f7;
    padding-top: 12px;
    padding-bottom: 4px;
    margin-bottom: 0.8rem;
}

.single-product-tab .nav-tabs .nav-item {
    padding-left: 10px;
}

.single-product-tab .nav-tabs .active {
    border-bottom: 1px solid red;
}



.single-product-tab .nav-tabs .nav-item .nav-link {
    font-weight: 600;
    color: #212121;
    font-size: 15px; 
}


.breadcrumb-content ul li {
    font-size: 13px;
}

.sku table td {
    font-size: 14px;
}

.shop_wrapper.grid_4 .product {
    border: unset;
}

.product .content {
    padding: 10px 12px 12px;
    text-align: unset;
    margin-bottom: 10px;
} 

.product .content .title {
    margin-bottom: 5px;
    text-align: left;
}

.content .ratings {
    align-items: normal;
    justify-content: unset;
}

.content .price {
    justify-content: left;
}

.product .product-inner {
    margin-bottom: 2px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
}

.carousel__slide>.product .product-inner {
    margin-right: 1px;
    margin-left: 1px;
}

img.active {
    border: 1px solid red !important;
}

.Vue-Toastification__toast--default {
    background-color: #323232 !important;
    top: -50px !important;
}

input[type="checkbox"] {
    display: unset;
}

.form-floating>.form-control:focus ~ label, .form-floating>.form-control:not(:placeholder-shown) ~ label, .form-floating>.form-select ~ label {
    opacity: unset;
    transform: scale(0.85) translateY(-1.45rem) translateX(0.15rem);
    background: white;
    color: #9f9f9f;
}

/* timeline */
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -40px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group-horizontal .list-group-left {
    width: 450px;
}

.list-group-horizontal .list-group-right {
    width: -webkit-fill-available;
    width: -moz-available;
    text-align: right;
    width: fill-available;
}

.list-group-horizontal .list-group-right a {
    color: #ff4545;
    font-weight: bold;
}
.detail-pay {
    font-weight: 400;
    /* font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif; */
    font-size: 0.857143rem;
    line-height: 22px;
    letter-spacing: 0px;
    text-decoration: initial;
}

.nav.nav-tabs {
    padding-bottom: 0px;
}

.nav-item:hover{
    cursor: pointer;
}

.nav-link {
    padding-bottom: 10px;
}

.nav-link.active {
    border-bottom: 2px solid !important;
}

.replay {
    background: #f9f9f9;
    padding: 10px;
    padding-bottom: 1px;
}

.whatsapp-color {
    color: #2fcd2d;
}
.btn-facebook {
    border: 1px solid grey;
    padding: 0px;
    padding-right: 10px;
}

.btn-facebook i {
    background: #3B5998;
    color: #fff;
    padding: 10px;
}

.facebook-color {
    color: #2b5dcf;
}
.twitter-color {
    color: #2bc0e2;
}
.linkedin-color {
    color: #0077b5;
}

button.v-facebook-login {
    transition: background-color 0.25s ease-in-out 0s;
    background: #415dae;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 10px;
    /* display: block; */
    /* text-align: center; */
}
.v-facebook-login svg {
    color: white;    
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.v-facebook-login span {
    color: white;
    font-size: 0px;
    visibility: hidden;
}

.v-facebook-login span::after {
    content: 'Login dengan Facebook';
    visibility: visible;
    font-size: 13px;

}

.img-user-avatar {
    width: 100%;
    position: relative;
    top: -5px;
}
.badge-user-avatar {
    position: relative;
    top: -10px;
    font-size: 11px;
    display: block;
}

.v3dp__elements .selected {
    --elem-hover-bg-color: #af260b !important;
    --elem-selected-bg-color: #af1d0b !important;
}

#snap-midtrans {
    z-index: 9999999999 !important;
}

.single-product-tab .review_details .review-title-date span {
    /* font-size: ; */
    position: relative;
    top: -5px;
}

.alert {
    font-size: 14px;
}

.swal2-title {
    font-size: 20px;
}

.swal2-html-container {
    font-size: 17px;
}

.carousel__slide {
    padding: 6px;
}

.carousel__prev, .carousel__next{
    background: white;
    color: #6e6e6e;
}

.carousel__prev {
    left: 30px;
}

.carousel__next {
    right: 30px;
}

@media only screen and (max-width: 575px) {
    .wn-btn-container-foreground {
        z-index: 1111 !important;
    }
    .img-user-avatar {
        width: 50%;
    }
    .badge-user-avatar {
        width: 50%;
        margin: auto;
        display: block;
        position: relative;
        top: -10px;
        font-size: 11px;
    }
    .p-0-mobile {
        padding: 0px !important;
    }
    .mt-1-mobile {
        margin-top: 10px !important;
    }

    .mb-1-mobile {
        margin-bottom: 10px !important;
    }
    
    .m-0-mobile {
        margin: 0px !important;
    }

    .border-none-trl-mobile {
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .wn-btn-icon-active {
        color: #af260b !important;
    }

    .carousel__slide {
        padding: 4px;
    }

    .carousel__pagination {
        margin-bottom: 0px !important;
    }

    .feature .content .title {
        font-size: 14px !important;
    }

    .shop_wrapper .product {
        margin-bottom: 10px !important;
    }

    .shop_wrapper .product:nth-of-type(odd) {
        padding-right: 7px;
    }
    
    .shop_wrapper .product:nth-of-type(even) {
        padding-left: 7px;
    }

    .form-floating>.form-control:focus ~ label, .form-floating>.form-control:not(:placeholder-shown) ~ label, .form-floating>.form-select ~ label {
        transform: scale(0.85) translateY(-1.09rem) translateX(0.15rem);
        padding-top: 0px;
        padding-bottom: 0px;
        height: max-content;
    }

    .wn-btn-border {
        bottom: 9px !important;
        height: 3px !important;
    }

    .header-bottom {
        min-height: 55px !important;
    }

    .header-bottom .header-sticky {
        height: 55px !important;
    }

    /* 
    .col .carousel__slide:nth-of-type(odd) {
        padding-right: 6px;
        padding-left: 0px;
    }
    
    .col .carousel__slide:nth-of-type(even) {
        padding-left: 6px;
        padding-right: 0px;
    }

    .carousel__slide {
        padding-right: 6px;
    } */

    .shop_wrapper .product:last-child {
        margin-bottom: 65px !important;
    }

    .myaccount-tab-menu.nav {
        margin-bottom: 15px;
    }

    .myaccount-tab-menu {
        flex-direction: unset;
    }

    .myaccount-tab-menu a {
        width: 33.333333%;
        float: left;
        display: unset !important;
        padding: 5px 0px;
        text-transform: unset !important;
        background: transparent;
        color: black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    .myaccount-tab-menu a:last-child {
        border-bottom: 0px;
    }
    
    .myaccount-tab-menu a.active {
        border-bottom: 2px solid red;
        color: red;
        background: transparent;
    } 

    .comment-area-wrapper .single-comment-wrap .author-thumb {
        width: 78px;
        height: 78px;
    }

    .add-to_cart, .add-to-wishlist {
        width: 48%;
    }

    .add-to_cart button, .add-to-wishlist button{
        width: 100%;
    }

    .single-product-tab .nav-tabs {
        flex-direction: unset;
    }

    .section-margin .single-product-tab .nav-tabs .nav-item {
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available;
    }

    .single-product-tab .review_details .review-title-date span {
        top: -3px;
    }
    
    #snap-body #app {
        height: 95%;
    }

    .shop_toolbar_wrapper .shop-top-bar-right {
        flex-direction: unset;
        align-items: unset;
        width: 100%;
    }

    .shop_toolbar_wrapper .shop-top-bar-right {
        display :unset;
    }

    .shop_toolbar_wrapper .shop-top-bar-right .shop-short-by {
        float: right;
    }
    
    .review_details {
        padding: 10px 6px !important;
    }
    .replay {
        padding: 1.5px;
    }

    .replay p span {
        font-size: 12px;
    }
    
    .alert-transaction {
        padding: 2px 10px;
        width: 100%;
        margin-bottom: 10px;
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
        border-radius: 0.25rem;
    }

    .nice-select {
        padding-left: 10px;
        padding-right: 17px;
    }

    .shop-short-by {
        margin-bottom: 0px !important;
    }
 
    .cart-wishlist-btn {
        position: fixed;
        z-index: 11111;
        bottom: 0;
        width: 100%;
        background: white;
        left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #efefef;
        padding-left: 5px;
        margin-bottom: 0px !important;
    }

    #row-back-mobile.sticky-mobile{
        background: white;
        height: 53px;
        position: fixed;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e6e6e6;
    }
    /* .shop_wrapper.grid_4 .product {
        padding-left: 5px;
        padding-right: 5px;
    } */
}